USING_MONGO=false
USING_S3=false
USING_EMR=false

HF_TOKEN=
HF_REPO_NAME=plantas-llm-finetuned
PLANT_CARE_LLM_PORT=5002

GROQ_KEY=


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=

S3_BUCKET_NAME=
EMR_IP=
