USING_MONGO=false
USING_S3=false

HF_TOKEN=

# They are the same thing, but I keep both for compatibility with the code
GROQ_API_KEY=
GROQ_KEY=
MONGO_USER_NAME=
MONGO_USER_PASSWORD=
MONGO_CONECTION_STRING=

S3_BUCKET_NAME=
